<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4653800983430354">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>QR Code Generator</h1>
        <form action="/generate_qr" method="post">
            <label for="data">Enter data for QR code:</label>
            <input type="text" name="data" id="data" required>
            <button type="submit">Generate and Download QR Code</button>
        </form>
    </div>
</body>
</html>
